*~
__pycache__/
/build/
/dist/
/out/
/data/
.DS_Store
/.vscode/
/.idea/
/*.egg-info/
*.egg
*.prof
*.pickle
*.log
*.pye
*.pyc
*.kate-swp
# virtual environments
/.venv/
/venv/
/.venv-test-*/
/.tox/
# tool caches
/.cache/
/.pytest_cache/
/.ruff_cache/
/.mypy_cache/
# coverage
.coverage
.coverage.*
/coverage.xml
/htmlcov/
{% if cookiecutter.project_profile == 'package' -%}
# mkdocs build output
/site/
{% endif -%}
